
.pattern  {
   background-color: rgba(255, 208, 15, 0.34);
   background-image:
   radial-gradient(#ffd00f 1px, transparent 1px);
   background-size: 20px 20px;
}

.container {
    text-align: center;
}

.user {
    font-size: 15px;
}

.result {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.no_result {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

input[type="text"] {
    background-color: #f2f2f2;
}

.image {
    width: 70%; 
    height: 30%; 
    overflow: hidden; 
    margin: 0 auto 10px;
    position: relative;
}

.image img {
    width: auto;
    height: 30%;
    object-fit: cover; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.image_week {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
}
.underline {
    border-bottom: 1px solid black;
}

h1 {
    display: inline;
    font-size: 26px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #e69f0f 70%);
    text-decoration: underline;
    text-decoration-color: #e69f0f;
    font-family: "Hannari";
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.center {
    text-align: center;
    margin-top: 0;
}

.button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #FFA000;
    background: #fff1da;
    border-bottom: solid 4px #FFA000;
    border-radius: 15px;
    transition: .4s;
    margin-left: 20px;
    margin-right: 10px;
}

.post_button {
    background: rgb(210, 211, 255);
    color: rgba(58, 58, 207, 0.75);
    border-bottom: solid 4px rgba(58, 58, 207, 0.75);
}

.delete {
    text-align: center;
    margin-bottom: 20px;
}

.button:hover {
  background: #ffc25c;
  color: #FFF;
}

.post_button:hover {
  background: rgba(58, 58, 207, 0.75);
  color: #FFF;
}

.return_button:hover {
  background: #5e5f5f;
  color: #FFF;
}

.return_button {
    background-color: #969a98;
    color: black;
    border-bottom: solid 4px black;
}

.footer {
    background-color:rgba(255, 208, 15, 0.5);
    height:100px;
}

.some_input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.search_button {
    color: #fff;
    background-color: #eb6100;
}

.search_button:hover {
  color: #fff;
  background: #f56500;
}

.delete_button { 
    color: red;
    border-bottom: solid 4px red;
}

.delete_button:hover {
  background: rgba(240, 55, 55, 0.83);
  color: #FFF;
}

.search_button {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.search_button {
  border-radius: 50%;
  line-height: 45px;
  width: 45px;
  height: 45px;
  padding: 0;
}

input[type="text"]::first-letter,
textarea::first-letter {
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    display: inline-block;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
}

input[type="text"],
textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.date {
    font-size: 20px;
    margin-left: 20px;
}

.line {
    border-top:2px dashed #e69f0f;
    margin-right: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination .page-item {
  list-style: none;
  margin: 0 5px;
}

.pagination .page-link {
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.pagination .page-link:hover {
  background-color: #f5f5f5;
}

.pagination .page-item.active .page-link {
  background-color: #e69f0f;
  color: #fff;
}

.day {
    color: red;
}

.index_line {
    margin-top: 10px;
    border-bottom: 2px dashed #e69f0f;
    margin-right: 20px;
    margin-left: 20px;
}

.top_date {
    margin-top: 20px;
}

.bottom {
    margin-bottom: 20px;
}


.move_week {
    text-align: center;
    margin-bottom: 10px;
}

.move_week_button {
    background-color: #969a98;;
    color: black;
    border-bottom: solid 4px black;
}

.move_week_button:hover {
  background: #5e5f5f;
  color: #FFF;
}

.today::before {
    content: "●"; 
    color: red; 
    margin-right: 5px;
}
    
.not_today::before {
    content: "●";
    color: gray;
    margin-right: 5px;
}
    
.add_list {
    text-align: center;
    margin-bottom: 20px;
}

.buy_list_image {
    margin: 5px 20px 0px 20px;
    border: 2px dashed #e69f0f;
}

.ECM_CheckboxInput {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ECM_CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}


.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
  background: #e69f0f;
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 76%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(0,0,0, .1);
  border-radius: 4px;
}
.ECM_CheckboxInput-LabelText {
  margin-left: 12px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.announcement {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.focus{
    color:red;
}